@charset "utf-8";


/*--------------------------------------------------------------------------------
	const.
--------------------------------------------------------------------------------*/
.rw-mts						{ margin-top:5px  }
.rw-mtm						{ margin-top:10px }
.rw-mtl						{ margin-top:20px }

.rw-mls						{ margin-left:5px;  }
.rw-mlm						{ margin-left:10px; }
.rw-mll						{ margin-left:20px; }

.rw-bg-w					{ background:#fff }

.input-icon.input-icon-right > [class*="fa-"] {
left: auto;
right: 3px;
}

.input-icon > [class*="fa-"] {
padding: 0 3px;
z-index: 2;
position: absolute;
top: 1px;
bottom: 1px;
left: 3px;
line-height: 28px;
display: inline-block;
color: #909090;
font-size: 16px;
}

[class*=" fa-"], [class^="fa-"] {
display: inline-block;
text-align: center;
}

[class^="fa-"], [class*=" fa-"] {
display: inline-block;
width: 14px;
height: 14px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-image: url("../img/glyphicons-halflings.png");
background-position: 14px 14px;
background-repeat: no-repeat;
}

/*--------------------------------------------------------------------------------
	rw-ui
--------------------------------------------------------------------------------*/
ul.rw-ui-stream,
li.rw-ui-stream-story				{ margin:0; padding: 0; list-style: none outside none }
h5.rw-ui-stream-message				{ padding:0; margin:0 }

.rw-ui-stream-story					{ padding: 0px; position:static }
.rw-ui-stream .rw-ui-stream-message { color: rgb(0, 0, 0); font-size: 11px; font-weight: normal;  margin: 0px 0px 5px; }

.rw-ui-stream-message, 
.rw-ui-attachment-title, 
.rw-ui-attachment-desc				{ word-wrap: break-word; }


/*--------------------------------------------------------------------------------
	margin-left const.
--------------------------------------------------------------------------------*/
body		{ font: 12px/20px '나눔고딕', nanumgothic, "Helvetica Neue", Helvetica, Arial, sans-serif; height:100%; background-color:#fff; overflow-x: hidden; }
.scroll-y	{ overflow-y: scroll; }


/*--------------------------------------------------------------------------------
	layout
--------------------------------------------------------------------------------*/
.rw-snn									{ height:auto }
.rw-snn .navbar							{ height:45px }
.rw-snn .navbar-inner .container-fluid	{ max-width:1183px; padding-right:0; padding-left:0 }
.rw-snn-fs .navbar						{ height:45px }
.rw-snn-fs .navbar .navbar-inner		{ min-height:45px; }

.navbar .navbar-inner.rw-fixed-element	{ position:fixed; z-index:300; top:0; left:0; right:0 }

.rw-snn .main-container					{ height:auto }
.rw-snn .breadcrumbs					{ min-height:40px; z-index:5   }

.rw-snn .page-content					{ padding:0; height:auto;  }
.rw-snn .rw-content-area-wrap			{ position:relative; height:auto; height:1px; float:left; width:100%; }
.rw-snn .rw-content-area				{ margin-right:220px; }
.rw-snn .rw-content-area.rw-content-fs	{ margin-right:0; padding:0 10px }
  

.rw-snn .rw-right-col					{ position:relative; float:left; width:220px; margin-left:-220px; height:100px; min-height:1px; z-index:2;}
.rw-right-col:before					{ content: ""; display:block; width:220px; position: fixed; bottom: 0px; top: 0px; z-index: -1; background-color:#fefefe;  border-right: 1px solid #cccccc; bord!er-left: 1px solid #cccccc; }
.rw-right-col.rw-fixed-element			{ position:fixed; z-index:300; top:0; left:0; right:0 }

.main-container .langding-main-content {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	min-height: 100%;
	padding: 0;	

}

.rw-signup-wizard-content .landing-page-content {
	background-image:url(/assets/sunny/2.0/img/subtle_dots.png);
	background-position:center center;
	background-repeat:repeat;

}

.langing-widget-body {
	background-color:transparent;
}

.langding-main-img {
	padding:0 11px;
}

.sunny-sns-content {	
	mar!gin:0 auto;
	padd!ing-left:15px;
	padd!ing-right:15px;
	font-size:16px;
	font-family:'나눔고딕', nanumgothic, 'Open Sans';
	line-height:1.4em;
	color:#748796;
}

.sunny-content {
text-align:justify;
}

.sunny-content-img {
	text-align:center;
}

.sunny-content-title {
	font-size:30px;
	margin-bottom:12px;
	line-height:1.7em;
	color:#33536d;
	text-align:center;
}

.smart-office {
	text-align:center;
}

.login-box-title {
	font-size:20px;
	line-height:1.2em;
}

.landing-widget-main {
	padding:0 12px 12px;
}

.header.landing-header {
	border-bottom-color: #cadded;
}

.landing-space {
	max-height: 1px;
	min-height: 1px;
	overflow: hidden;
	margin: 5px 0;
}

.landing-header {
	line-height: 28px;
	margin-bottom: 16px;
	margin-top:2px;
	padding-bottom: 4px;
	border-bottom: 1px solid #CCC;
}

.login-box .landing-toolbar {
border-color: rgb(79, 153, 198);
background-color: rgb(79, 153, 198);
}

.login-box .landing-toolbar .landing-toolbar-wrap {
	padding:7px 0 8px;
}

.login-box .landing-forgot-password-link {
	color:#fff;
}

.login-box .landing-user-signup-link {
	color:#fff;
}

.sunny-content-01 {
	margin-bottom:60px;
}

.sunny-content-02 {
	margin-bottom:60px;	
}

.sunny-content-03 {
	margin-bottom:60px;	
}


.sunny-content-04 {
	clear:both
}

.landing-footer {
	padding:25px 0;
	margin-top:80px;
	background-color:#f2f2f2;
	font-size:18px;
	text-align:center;
	clear:both;
}

.landing-footer-copy {
	width:100%;	
	float:none;
}



.landing-form {
	font-size:16px;
	margin-top:60px;
	color:#33536d;
	clear:both;
	padding-left:15px;
	padding-right:15px;
	border-top:1px solid #f2f2f2;
	padding-top:60px;
}

.contact-form {

}

.contact-form label {
	display:none;
}

.form-name {
	margin-bottom:10px;	
	margin-left:5px
}

.form-email {
	margin-bottom:10px;	
	margin-left:5px	
}

.form-subject {
	margin-bottom:10px;		
	margin-left:5px
}

.form-message {
	margin-bottom:10px;	
	margin-left:5px
}

.form-btn {
	text-align:right;
}

.landing-button {
	font-family:'나눔고딕', nanumgothic, 'Open Sans';
}


.landing-form .form-01 input, .landing-form .form-02 input, .landing-form .form-middle input, .landing-form .form-footer textarea {
	width:96%;
	padding:12px 2%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	color: #1a1a1a;
}

.landing-form .form-01 input:hover, .form-02 input:hover, .form-middle input:hover, .form-footer textarea:hover {
	outline:none;
	border:1px solid #f2f2f2; 
}

.landing-form input:focus:invalid:focus, .landing-form textarea:focus:invalid:focus	{
	border-color:#f2f2f2;
	}
	
.form-footer textarea {
	min-height:210px;
}


.step-left-col {
	font-size:16px;
}

.step-left-col .step-left-col-title {
	font-size:22px;
	color: #555;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 22px;
	font-family:'나눔고딕', nanumgothic, "Helvetica Neue", Helvetica, Arial;
}


.login-form-place-holder {
	margin-bottom:5px;
}


/* responsive overriding */


@media (min-width: 1216px){
	.span6 {
		width: 570px;
	}
}

@media (min-width: 1200px)			{
	.rw-snn .rw-content-area-wrap					{ wid!th:993px }
 	.rw-signup-wizard-content-row-fluid.row-fluid	{ widt!h:1143px; margin-left:auto; margin-right:auto }

	.span6 {
		width: 470px;
	}
	
	.sunny-content-01 { max-width:1001px }
	.sunny-content-02 { max-width:1001px }
	.sunny-content-03 { max-width:1001px }
	.sunny-content-04 { max-width:1001px }
	.landing-page-content-inner { max-width:1200px }
}



@media (max-width:1200px) and (min-width: 979px) {
	.span6 {
		width: 402px;
	}
	
	.sunny-content-01 { max-width:844px }
	.sunny-content-02 { max-width:844px }
	.sunny-content-03 { max-width:844px }
	.sunny-content-04 { max-width:844px }
	.landing-page-content-inner { max-width:1200px }
}
}

@media only screen and (min-width: 1200px)			{
	.rw-snn .rw-content-area-wrap					{ wid!th:993px }
 	.rw-signup-wizard-content-row-fluid.row-fluid	{ widt!h:1143px; margin-left:auto; margin-right:auto }

	.span6 {
		width: 470px;
	}
	
	.sunny-content-01 { max-width:1001px }
	.sunny-content-02 { max-width:1001px }
	.sunny-content-03 { max-width:1001px }
	.sunny-content-04 { max-width:1001px }
	.landing-page-content-inner { max-width:1200px }
}



@media (max-width: 979px) and (min-width: 768px) {
	.sunny-content-01 {max-width:760px }
	.sunny-content-02 {max-width:760px }
	.sunny-content-03 {max-width:760px }
	.sunny-content-04 {max-width:760px }
	.landing-page-content-inner {max-width:760px }
	[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 0px;
}

	.langding-main-img {margin-top:5.5em;}
	.landing-page-login {
	padding:27px 15px;
	border:1px solid #bbbaba;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	margin-top:4px;}
}
}



@media only screen and (min-width: 979px)			{
	
	
	.rw-snn .rw-content-area						{ margin-right:0 }
	.rw-snn .rw-right-col							{ display:none }
	.sidebar										{ height:auto }
	.hidden-979										{ display:none }
	.sunny-content-01 {max-width:979px }	
	.sunny-content-02 {max-width:979px}
	.sunny-content-03 {max-width:979px}
	.sunny-content-04 {max-width:979px}
	.landing-page-content-inner {max-width:979px}
	
}

@media (min-width: 979px) {
	.langding-main-img {margin-top:4.1em;}
	.landing-page-login {
	padding:27px 15px;
	border:1px solid #bbbaba;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	margin-top:24px;
}
}

@media (min-width:1200px) {
	.langding-main-img {margin-top:1.6em;}
	.rw-signup-wizard-content .page-content { padding:80px 0px; border-bottom:2px solid #DCDDDF;}
}

@media (min-width: 767px)							{
	.sunny-content-01 .sunny-content { float:right;}
	.sunny-content-01 .sunny-content-img { float:left; margin-bottom:10px; }
	.sunny-content-02 .sunny-content { float:left; }
	.sunny-content-02 .sunny-content-img { float:right; margin-bottom:20px; }
	.sunny-content-03 .sunny-content { float:right; }
	.sunny-content-03 .sunny-content-img { float:left; margin-bottom:20px;}
	.sunny-content-04 .sunny-content { float:left; }
	.sunny-content-04 .sunny-content-img { float:right; }
	
.sunny-content-01 .sunny-content {margin-top:120px;}
.sunny-content-02 .sunny-content {margin-top:70px;}
.sunny-content-03 .sunny-content {margin-top:100px;}
.sunny-content-04 .sunny-content {margin-top:120px;}

.landing-page-login-wrap {
	padding-left:8px;
	padding-right:8px;
}

 .sunny-sns-content { margin-top:40px; }
 .landing-footer-subtitle {
	font-size:16px;
}
}

@media (max-width: 767px)							{
.sunny-content-img { height:auto; }
body			{ padding-right:0; padding-left:0; }
.hidden-767		{ display:none }	
.sidebar:before { display:none; }

.langding-main-img {
	margin-bottom:30px;
}

.s-s {
	width:6px; display:inline-block;
}

.landing-page-login-wrap {
	padding-left:6px;
	padding-right:6px;
}

.landing-page-login {
	padding:10px 5px;
	border:1px solid #bbbaba;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	margin-top:4px;
}
.sunny-content-01 .sunny-content { padding:0 15px; margin-bottom:60px;}
.sunny-content-02 .sunny-content { padding:0 15px; margin-bottom:60px;}
.sunny-content-03 .sunny-content { padding:0 15px; margin-bottom:60px;}
.sunny-content-04 .sunny-content { padding:0 15px; margin-bottom:60px;}

.sunny-content-01 .sunny-content-img {
	margin-bottom:-22px;
}

.sunny-content-img {
	margin-bottom:30px;
	padding:0 15px;
}

.sidebar {
	display:none;
	float:none;
	
	position:fixed;
	z-index:1030;
	left:0;
	bottom:auto;
	top:auto !important;/*so that it's applied even if it's .sidebar-fixed */
	margin-top:40px;

	border:1px solid #CCC;
	border-left-width:0;
	box-shadow:2px 1px 2px 0 rgba(0,0,0,0.2);
	
	height:300px;
	overflow-y:scroll
}

.sidebar.display {
	display:block;
}

.main-content {
	margin-left:0 !important;
}



 .page-content {
	padding-left:5px;
	padding-right:5px;
 }
	
 .menu-toggler {
	display:inline-block;
	position:fixed;
	left:0;
	z-index:1029;
	width:18px;
	height:32px;
	margin-right:2px;
	
	line-height:normal;
	padding-left:33px; padding-top:7px; padding-bottom:1px;
	
	font-size:13px; font-weight:bold;
	text-transform:uppercase;

	background-color:#444;
	color:#F3F3F3;
 }
 .menu-toggler:hover {
	text-decoration:none;
 }
 .menu-toggler:before {
	border-top: 1px solid #87B87F;
	border-bottom: 1px solid #6FB3E0;
	height:2px; width:24px;
	content: "";
	position: absolute; z-index:11;
	top: 13px; left:4px;


	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-o-transition: none;
 }
 .menu-toggler:after {
	border-top: 1px solid #FFA24D;
	border-bottom: 1px solid #D15B47;
	content: "";
	height:2px;	width:24px;
	position: absolute;
	top:19px; left:4px;

	
	-moz-transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-o-transition: none;
 }
 .menu-toggler.display:before {
	height:4px;
	top: 8px;
	border-width:2px;
 }
 .menu-toggler.display:after {
	height:4px;
	top:20px;
	border-width:2px;
 }


 .menu-toggler > .menu-text {
	display:block;
	position:absolute;
	bottom:-18px; left:0;
	border:1px solid transparent;
	border-width:9px 42px;
	border-top-color:#444;
 }
 .menu-toggler > .menu-text:after {
	display:block; content:"MENU";
	color:#FFF;
	position:absolute;
	left:-8px; top:-41px;
 }
 
 .breadcrumb {
	margin-left:90px;
 }
 .breadcrumbs.fixed , .breadcrumbs.breadcrumbs-fixed{
  position: relative !important;
  left: auto !important; right: auto !important;
  top: auto !important;
  z-index:auto !important;
 }

 body.breadcrumbs-fixed .ace-settings-container {
	top:50px;
 }
 
 .nav-list > li.active:after {
	display:none;
 }
 .nav-list  li.active > a:after {
	display:none;
 }

 .nav-list li.active.open > .submenu > li.active > a:after {
	display:none;
 }
 
 .menu-min .nav-list > li.active:after {
	display:block;
 }
 .menu-min .nav-list >  li.active > a:after {
	display:block;
 }
 
.landing-footer-subtitle {
	font-size:11px;
}
}




/*--------------------------------------------------------------------------------
	form
--------------------------------------------------------------------------------*/
form.rw-form 										{ margin: 0 }
.rw-form select, 
.rw-form textarea, 
.rw-form input										{ font-size:12px }

.rw-row-signup-form									{ background-color:#F5F5F5; border:1px solid #E5E5E5; }
.rw-form-wrap										{ padding:0 20px 15px 20px }

.rw-form-wrap .rw-fieldset-title					{ clear:both; font-weight:bold; font-size:12px; margin:25px 0 5px 0; line-height:20px }
.rw-form-wrap .control-group						{ margin-top:10px; margin-bottom:0 }
.rw-form-wrap .control-label						{ font-size:12px; line-height:14px }
.rw-form-wrap input[type=checkbox].ace + .lbl		{ font-size:12px; }
.rw-form-wrap input[type=checkbox].ace + .lbl span	{ display:block; float:left; width:100%; margin-top:-20px; margin-left:20px }
.rw-form-wrap .row-fluid							{ min-height:25px }
.rw-form-wrap .rw-input-wrap						{ height:34px }

.rw-form-wrap .help-inline 							{ clear:both; line-height:100%; padding:0; display:none; vertical-align:top}
.rw-form-wrap	 .error .help-inline 				{ display:block; }
.rw-form-wrap .icon-ok-sign							{ display:none }
.rw-form-wrap .info .icon-ok-sign					{ display:block }
.rw-form-wrap .icon-remove-sign						{ display:none }
.rw-form-wrap .error .icon-remove-sign				{ display:block }
.rw-form-wrap .rw-chckbx .help-inline				{ margin-left:20px }
.rw-form-wrap hr									{ margin:0 0 10px 0 }

.rw-form-buttons									{ clear:both; padding:20px 8px }


/*--------------------------------------------------------------------------------
	pagelet
--------------------------------------------------------------------------------*/
.rw-pagelet-wrap	{ padding:0 20px }
.rw-pagelet-blank	{ height: 20px; }


/*--------------------------------------------------------------------------------
	customize top icon
--------------------------------------------------------------------------------*/
.rw-nav > li		{ background-color:transparent; border-left: none }


/*--------------------------------------------------------------------------------
	badge font
--------------------------------------------------------------------------------*/
.badge				{ font-family: 'Open Sans'; }


/*--------------------------------------------------------------------------------
	customize top user's profile
--------------------------------------------------------------------------------*/
.user-info			{ font-size:12px; vertical-align: middle; font-weight:bold; top:0 }


/*--------------------------------------------------------------------------------
	customize navbar
--------------------------------------------------------------------------------*/
.rw-snn .ace-nav .nav-user-photo	{ margin-right:4px }
.rw-snn .ace-nav > li > a			{ padding: 0 5px }


/*--------------------------------------------------------------------------------
	customize left navigation
--------------------------------------------------------------------------------*/
.rw-sidebar-welcome-box									{ background-color: #fafafa; border-bottom: 1px solid #ddd; height:55px; margin-bottom: 0; padding:4px 0 0 4px }
.rw-welcomebox											{ }
.rw-welcomebox-block									{ position: relative; float: left; margin-right: 8px; display: block; }
.rw-welcomebox-block .rw-welcomebox-img					{ height:50px !important; width:50px !important; display: block; border:0 }
.rw-welcomebox-contents-wrap							{ overflow: hidden; display:block }
.rw-welcomebox-contents-wrap .rw-welcomebox-contents	{ padding-right: 5px; display: inline-block; padding-top:5px; line-height:120% }
.rw-welcomebox-contents div								{ height: 40px; vertical-align: middle; display: inline-block;}
.rw-welcomebox-name										{ padding-bottom: 1px; display: block; font-weight: bold; width: 112px; word-wrap: break-word; }


/*--------------------------------------------------------------------------------
	customize widget
--------------------------------------------------------------------------------*/
.rw-right-col .widget-box										{ margin:0 }
.rw-right-col .widget-box.transparent > .widget-header-small	{ padding-left:5px; border-bottom:none; border-top-width:1px; border-top-style:solid }
.rw-right-col .widget-box.transparent > .header-color-grey		{ background:#F2F2F2; border-color:#E2E2E2 }
.rw-right-col h4.smaller										{ font-size: 12px; }
.rw-right-col .widget-header .rw-title							{ font-weight:bold } 

.widget-box.rw-no-border				{ border:none }
.widget-box.rw-no-border .widget-body	{ border:none }


/*--------------------------------------------------------------------------------
	customize wizard
--------------------------------------------------------------------------------*/
.rw-signup-wizard-content					{ width:100%; margin:0 auto; padding-top: 20px; padding-bottom:0; }
 .page-content		{ padding:30px 0px; border-bottom:2px solid #DCDDDF;}
.rw-signup-wizard-content .widget-box		{ margin:0 }	
.rw-signup-wizard-content .wizard-actions	{ padding:0; }

.rw-step-container-wrap						{ margin-top:30px }

.rw-step-title	h3							{ color: #555; line-height: 24px; font-weight:normal; margin-bottom: 22px; font-family:arial; font-size:1.54em }
.rw-step-status								{ font-size:24px }
.rw-step-status	h3							{ color: #555; line-height: 24px; font-weight:normal; margin-bottom: 22px; font-family:arial; font-size:0.8em }
.rw-step-status p							{ font-size:14px; margin-bottom:30px }

.rw-progressing .rw-status-progressing		{ display:block }
.rw-progressing .rw-status-finished			{ display:none }
.rw-finished .rw-status-progressing			{ display:none }
.rw-finished .rw-status-finished			{ display:block }


/*--------------------------------------------------------------------------------
	customize timeline
--------------------------------------------------------------------------------*/
.rw-timeline-stream:before						{ content: ""; display: block; position:fixed; z-index:-1; top: 0; bottom: 0; margin-left:28px; border: 1px solid #E2E3E7; background-color: #E7EAEF; width: 2px; border-width: 0 1px; }
.rw-message-body								{ color: rgb(51, 51, 51); font-size: 12px; line-height: 1.38; }
.rw-message-body .rw-message-body-wrap			{ display: block; }

.rw-timeline-stream .timeline-container			{ padding:0; margin:20px 0 0 0 }	
.rw-timeline-stream .timeline-container:before	{ content: none }
.rw-timeline-stream .timeline-label				{ margin-top:20px }

.rw-timeline-stream .timeline-item				{ margin-bottom:0  }


/*--------------------------------------------------------------------------------
	customize dialog
--------------------------------------------------------------------------------*/
.modal-footer .rw-dialog-center-btn				{ display:block; margin:0 auto; width:50px }


/*--------------------------------------------------------------------------------
	admin
--------------------------------------------------------------------------------*/
.table.rw-tbl-cell-vertical  td		{ vertical-align: middle; }
.table.rw-tbl-cell-vertical  td.top	{ vertical-align: top; }

.rw-profilebox-block				{ display: block; width:50px; margin: 0 auto }
.rw-profilebox-block img			{ height: 50px !important; width: 50px !important; display: block; border: 0; }

#a-table-user-list-pagination		{ float:right; margin: 0 0 }
.rw-a-user-list-buttons				{ margin-bottom:15px; }

.rw-btn-info-save					{ text-align:center; padding-top:7px }
.rw-btn-info-save	button			{ width:80px }

.rw-a-header						{ font-size:12px; font-weight:none; margin:0 }
.rw-a-header i						{ font-size:18px; }
.rw-a-header strong					{ font-size:15px; font-weight:bold; }
.rw-a-content						{ margin-top:20px }

.rw-sidebar-welcome-box						{ background-color: #fafafa; border-bottom: 1px solid #ddd; height:55px; margin-bottom: 0; padding:4px 0 0 4px }
.rw-a-profilebox-block						{ position: relative; float: left; margin-right: 8px; display: block; }
.rw-a-profilebox-block img					{ height:50px !important; width:50px !important; display: block; border:0 }

.rw-a-profilebox											{ background-color: #fafafa; border: 1px solid #ddd; height:55px; margin-bottom: 0; padding:4px 0 0 4px }
.rw-a-profilebox-contents-wrap								{ overflow: hidden; display:block }
.rw-a-profilebox-contents-wrap .rw-a-profilebox-contents	{ padding-right: 5px; display: inline-block; padding-top:5px; line-height:120% }
.rw-a-profilebox-name										{ padding-bottom: 1px; display: block; font-weight: bold; width: 112px; word-wrap: break-word; }



/*--------------------------------------------------------------------------------
	composer
--------------------------------------------------------------------------------*/

.ui-composer-out					{ position: relative; border: 1px solid #ccc; margin-left:60px; }

.ui-mentions-input					{ position: relative; }
.composer-type-ahead				{ border: 0px none; background: #fff; border: solid #B6B6B8; border-width:0; cursor: default; position: relative; cursor: default; background: none repeat scroll 0% 0% transparent; }
.composer-type-ahead .wrap 			{ border: 0px none; border-width: 0 1px; }
.composer-type-ahead .inner-wrap	{ overflow: hidden;	zoom: 1; }
.ui-mentions-input textarea			{ 
	display: block;
	max-width: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	color: #777;
	zoom: 1;
	outline: 0px none;
	border: 0px none;
	-webkit-appearance: none; 
	-webkit-border-radius: 0;
	-moz-box-sizing: border-box;
	-wbkit-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	padding: 3px; 
	padding-top: 5px\9;
	height: 21px\9;
}

.ui-mentions-input .mentions-textarea		{ display: block; font-size: 11px; padding: 3px; height: 20px; padding-top: 5px\9; height: 21px\9; }
.ui-mentions-input .mentions-textarea		{ line-height: 14px; }
.ui-mentions-input .mentions-textarea.input	{ height: 26px; font-size: 12px; padding: 5px; resize: none; vertical-align: bottom; }
.ui-mentions-input span.placeholder			{ 
	display: block; 
	position: absolute; 
	z-index: 3; 
	line-height: 14px; 
	border: none; 
	color: #777; 
	cursor: text; 
	background-color: #fff;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	word-spacing: 0\9;
	top: 1px\9;
	left: 5px\9;
	padding: 2px 0 2px;
	padding-top: 4px\9;
	padding-bottom: 1px\9; 
	top: 3px; left: 5px;
}


.ui-composer-bottom			{ height: 30px; border-top: 1px solid #e6e6e6; background-color: #f2f2f4; }

.composer-tool-button		{ float: left; }
.composer-tool-button		{ float: left; height: 30px;	width: 30px; outline-offset: -5px; border-right: 1px solid rgb(224, 224, 224); }
.composer-tool-button-photo { background-position: 0 -31px; }
.composer-tool-button a		{
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url(http://sns.sunnyvale.co.kr/assets/desktop/img/ins/icon-edtor-tools.png);
	background-repeat: no-repeat;
	background-size: auto auto;
}

.composer-tool-button-inner						{ position: absolute; width: 100%; height: 100%; overflow: hidden; right: 0px; top: 0px; }
.composer-tool-button-inner input[type=file]	{
	position: absolute;
	bottom: 0px;
	cursor: inherit;
	font-size: 1000px !important;
	height: 300px;
	margin: 0px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	padding: 0px;
	right: 0px;
}

.ui-composer-bottom .ui-list	{ float:right; list-style: none outside none;}
.ui-composer-bottom .ui-list li	{ list-style: none outside none; }
.ui-composer-bottom .btn		{ font-size:12px; line-height:100%; height:23px }


.ui-list .ui-input-submit		{ clear:both; margin-right: 10px; margin-top: 4px; }



.textarea-mirroring			{ display: block; position: absolute; top: -1000px; left: -1000px; line-height:14px; height: 0; right: auto; bottom: auto; border: 0; box-sizing: border-box; word-wrap: break-word; overflow: hidden; }
.story-mirroring			{ font-size: 12px; padding: 5px; }
.cmmnt-mirroring			{ font-size: 11px; padding: 3px; *padding-top: 0; *padding-bottom: 0; *height: 24px; }
@media \0screen\,screen\9	{ .cmmnt-mirroring { padding-top: 5px;	} }

.ui-mentions-input .highlighter			{ left: 0;	overflow: hidden; position: absolute; padding: 5px;	top: 0; }
.ui-mentions-input .highlighter div		{ font-size: 12px; line-height: 14px; color: transparent; white-space: pre-wrap; width: 100%; word-wrap: break-word; }


.invite-friend-each			{padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #CECECE; }


.user-pic-wrap.group .user-pic-0					{ width: 25px; height: 100%; float:left; }
.user-pic-wrap.group .user-pic-1					{ width: 25px; height: 100%; float:left;}
.user-pic-wrap.group .user-pic-2					{ width: 25px; height: 100%; float:left;}

.user-pic-wrap.group-3 .user-pic-1					{ width:25px; height: 25px; }
.user-pic-wrap.group-3 .user-pic-2					{ width:25px; height: 25px; }


/* dropdown li 만 지원하던 것을 div로도 변경 */

/* top user info dropdowns */

.dropdown-menu > div > a:hover,
.dropdown-menu > div > a:focus,
.dropdown-menu > div > div > a:hover,
.dropdown-menu > div > div > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-navbar > a 	{ font-size : 12px; }

.dropdown-menu > div > a,
.dropdown-menu > div > div > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-navbar > div {
  padding: 0 8px;
  background-color: #FFFFFF;
}
.dropdown-navbar > div.nav-header {
  text-shadow: none;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid;
}
.dropdown-navbar > div > [class*="icon-"],
.dropdown-navbar > div > div > [class*="icon-"],
.dropdown-navbar > div > a > [class*="icon-"] {
  margin-right: 5px !important;
  color: #555;
  font-size: 14px;
}
.dropdown-navbar > div > a,
.dropdown-navbar > div > div > a{
  padding: 10px 2px;
  margin: 0;
  border-bottom: 1px solid;
  font-size: 12px;
  line-height: 16px;
  color: #555;
}
.dropdown-navbar > div > a:active,
.dropdown-navbar > div > a:hover,
.dropdown-navbar > div > a:focus,
.dropdown-navbar > div > div > a:active,
.dropdown-navbar > div > div > a:hover,
.dropdown-navbar > div > div > a:focus {
  background-color: transparent !important;
  color: #555;
}
.dropdown-navbar > div > a .progress,
.dropdown-navbar > div > div > a .progress {
  margin-bottom: 0;
  margin-top: 4px;
}
.dropdown-navbar > div > a .badge,
.dropdown-navbar > div > div > a .badge {
  line-height: 16px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 12px;
}
.dropdown-navbar > div:last-child > a {
  border-bottom: 0 solid #DDD;
  border-top: 1px dotted transparent;
  color: #4F99C6;
  text-align: center;
  font-size: 13px;
}
.dropdown-navbar > div:last-child > a:hover {
  background-color: #FFF;
  color: #4F99C6;
  text-decoration: underline;
}
.dropdown-navbar > div:last-child > a:hover > [class*="icon-"] {
  text-decoration: none;
}
.dropdown-navbar > div:hover {
  background-color: #f4f9fc !important;
}
.dropdown-navbar > div.nav-header {
  background-color: #ecf2f7 !important;
  color: #8090a0;
  border-bottom-color: #bcd4e5;
}
.dropdown-navbar > div.nav-header > [class*="icon-"] {
  color: #8090a0;
}
.dropdown-navbar > div > a,
.dropdown-navbar > div > div > a {
  border-bottom-color: #e4ecf3;
}

.user-menu > div > a,
.user-menu > div > div > a {
  padding: 4px 12px;
}
.user-menu > div > a > [class*="icon-"],
.user-menu > div > div > a > [class*="icon-"] {
  margin-right: 6px;
  font-size: 120%;
}
.dropdown-menu div > a,
.dropdown-menu div > div > a{
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

/* dropdown menus */

.dropdown-menu > div > a:hover > [class^="icon-"],
.dropdown-menu > div > a:focus > [class^="icon-"],
.dropdown-menu > div > a:hover > [class*=" icon-"],
.dropdown-menu > div > a:focus > [class*=" icon-"],
.dropdown-menu > div > div > a:hover > [class^="icon-"],
.dropdown-menu > div > div > a:focus > [class^="icon-"],
.dropdown-menu > div > div > a:hover > [class*=" icon-"],
.dropdown-menu > div > div > a:focus > [class*=" icon-"]{
  background-image: none;
}
.dropdown-menu > div > a {
  font-size: 13px;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.dropdown-menu.dropdown-only-icon > div,
.dropdown-menu.dropdown-only-icon > div > div {
  float: left;
  margin: 0 4px;
}
.dropdown-menu.dropdown-only-icon > div > a [class*="icon-"],
.dropdown-menu.dropdown-only-icon > div > div > a [class*="icon-"]  {
  width: 18px;
  display: inline-block;
}
.dropdown-menu.dropdown-only-icon > div > a .icon-2x,
.dropdown-menu.dropdown-only-icon > div > div > a .icon-2x {
  width: 36px;
}
.dropdown-menu div a:hover,
.dropdown-menu div a:focus,
.dropdown-menu div a:active,
.dropdown-menu div.active a,
.dropdown-menu div.active a:hover,
.dropdown-menu .dropdown-submenu:hover > a,
.nav-tabs .dropdown-menu div > a:focus,
.nav-tabs .dropdown-menu div > div > a:focus {
  background: #4f99c6;
  color: #ffffff;
}

/*--------------------------------------------------------------------------------
	login.css
--------------------------------------------------------------------------------*/
.rw-signup-wizard-content .login-page-contents {
border-bottom:none;
}

.login-rw-form-buttons {
	clear: both;
	padding: 0px 8px;
}

.rw-fieldset-main-title {
	clear: both;
	font-weight: bold;
	font-size: 16px;
	margin: 25px 0 5px 0;
	line-height: 20px;
}

.manager-form {
	padding:40px 0;
}

.step-left-col-img {
	text-align:center; 
	margin-top:65px;
}

.rw-step-content {
	text-align:center; margin-top:25px;
}

.step-left-col .login-step-left-col-title {
	color: #555;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 22px;
	font-size:0.95em;
	text-align: justify;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.login-02-rw-step-title .login-step-left-col-title {
	color: #555;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 22px;
	font-size:1.25em;
	text-align: justify;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.rw-signup-wizard-content .login-page-content {
	padding:60px 0;
	border-bottom:none;
}


@media (min-width: 979px)	{
	.step-left-col h3 {
		padding:0 20px;
	}
}

@media (min-width: 1200px)	{
	.widget-main-wrap {
	padding:12px 70px;
	}

@media (max-width: 767px)							{	
	.login-rw-fieldset-main-title { line-height:6px; }
}




















